# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md

/src/data
/public/data/feeds/feeds.json
/public/data/footprint/footprint-city-label-chords.json
/src/utils/solarTermsByDate.json
