---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getUniqueCategories from "@/utils/getUniqueCategories";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

// 生成分类页面的静态路径
export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection("blog");
  const categories = getUniqueCategories(posts);
  return categories.flatMap(({ category, categoryName }) => {
    const categoryPosts = getSortedPosts(
      posts.filter(post =>
        post.data.categories.includes(categoryName)
      )
    );
    return paginate(categoryPosts, {
      params: { category },
      props: { categoryName },
      pageSize: SITE.postPerPage,
    });
  });
}

// const params = Astro.params; // not needed
// const { category } = params;
const { page, categoryName } = Astro.props;
---

<Layout title={`分类 ${categoryName} | ${SITE.title}`}>
  <Header />
  <Main pageTitle={`分类：${categoryName}`} pageDesc="">
    <ul class="category-posts-list">
      {page.data.map(data => <Card {...data} itemClass="category-post-item" />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
